@import "utils/libs";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


.town-table{
	width: 100%;
	max-width: 768px;
}
.table-td{
	flex-basis: 25%;
}
.sort-btn{
	display: block;
	height: 40px;
	line-height: 40px;
	outline: none;
	&:focus{
		outline: none;
	}
}
.town-table-row span{
	height: 100%;
}