@import "utils/libs";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


.town-table{
	width: 100%;
	max-width: 768px;
}
.town-title-name{
	flex-basis: 60%;
}
.town-title-level {
    flex-basis: 30%;
}
.town-title-temp{
	flex-basis: 10%;
}
.sort-btn{
	display: block;
	height: 40px;
	line-height: 40px;
}