@import "utils/libs";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";


body{
	background: rgba(255, 255, 255, 0.75);
	background-size: cover;
	min-width: 320px;
}
.town-table{
	width: 100%;
	max-width: 768px;
}
.table-td-id,
.table-td-address {
	width: 100%;
}

.sort-btn{
	display: block;
	height: 40px;
	line-height: 40px;
	outline: none;
	&:focus{
		outline: none;
	}
}

.town-table-row{
	
	overflow: hidden;
	transition: max-height 0.8s;
	&:hover{
		-webkit-box-shadow: 0px 9px 26px -12px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 9px 26px -12px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 9px 26px -12px rgba(0, 0, 0, 0.75);
		.town-table-row__title {
		    cursor: pointer;
		    transition: all 0.3s;
		    background: #48bb78;
		    span {
		        color: #fff;
		        transition: all 0.3s;
		    }

		}
	}
	&.active {
	    -webkit-box-shadow: 0px 9px 26px -12px rgba(0, 0, 0, 0.75);
	    -moz-box-shadow: 0px 9px 26px -12px rgba(0, 0, 0, 0.75);
	    box-shadow: 0px 9px 26px -12px rgba(0, 0, 0, 0.75);
	    max-height: 500px;
	    transition: max-height 0.8s;
	    .town-table-row__title {
	        cursor: pointer;
	        transition: all 0.3s;
	        background: #48bb78;
	        span {
	            color: #fff;
	            transition: all 0.8s;
	        }

	    }
	}
}

.search-form{
	&__input{
		width: 300px;
		height: 40px;
	}
	&__btn{
		width: 100px;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
	}
}
.data-list{
	&__item > div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.fade-leave-active {
    transition: opacity .1s;
}
.fade-enter-active{
	transition: opacity 1s;
}
.fade-enter,
.fade-leave-to

/* .fade-leave-active до версии 2.1.8 */
    {
    opacity: 0;
}
.more-info-col-left,
.more-info-col-right {
	width: 100%
}

.air-index-main{
	display: block;
	border-radius: 10px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	&.green{
		background: #019966;
	}
	&.red{
		background: #cc0033;
	}
	&.orange {
	    background: #ff9933;
	}
	&.yellow {
	    background: #ffde33;
	}
	&.deepred {
	    background: #7e0023;
	}
	&.lilac {
	    background: #660199;
	}
	

}
.container{
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 0 15px;
}
.town-table-row-title {
    display: none;
}
@media screen and (min-width:340px){
	.table-td-id {
	    width: 25%;
	}
	.data-list {
	    &__item>div {
	        display: flex;
	        flex-direction: row;
	        align-items: center;
	    }
	}

	.table-td-address {
	    width: 75%;
	}
	.town-table-row-title{
		display: flex;
	}
	.more-info-col-left {
	    width: 25%;
	}

	.more-info-col-right {
	    width: 75%;
	}
}